body {
    background-color: #323643;
    color: #93deff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#main-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 30px;
}

#side-menu {
    display: flex;
    gap: 5px;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    border: 1px #93deff solid;
    background-color: #606470;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, .5);
}

#container {
    background-color: gray;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width: 800px;
    height: 800px;
    border: 1px #93deff solid;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, .5);
}

#size {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    margin: 0;
}

div {
    color: white;
}

.grid-item {
    user-select: none;
    background-color: white;
}

.colored {
    background-color: red;
}

#buttons {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

button {
    background-color: cyan;
    border-radius: 15px;
    padding: 5px 20px;
    border: 1px white solid;
    font-weight: bold;
}

button:hover {
    border: 1px blue solid;
}

input[type='color']{
    --webkit-appearance: none;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}

input[type="color"]::-webkit-color-swatch {
	border: none;
    border-radius: 50%;
}