body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#container {
    background-color: gray;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width: 800px;
    height: 800px;
}
div {
    background-color: cyan;
    min-width: 5px;
    min-height: 5px;
    /* border: 1px red solid; */
}
.colored {
    background-color: red;
}